@using ClientDependency.Core.Mvc
@model Sss.GvErlenacker.Models.Poco.ContactFormViewModel
@using BotDetect.Web.Mvc;

@{
    Html.RequiresJs("~/Scripts/gvea-form.js");
    MvcCaptcha captcha = new MvcCaptcha("Captcha");
    captcha.UserInputID = "CaptchaCode";


}



@using (Html.BeginUmbracoForm("index", "ContactForm", null, new { id = "contactForm" }))
{
    @Html.HiddenFor(m => m.Key)
    <div class="form-group">
        <label class="label label-primary">Name *</label>
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control mandatory" })
        <p class="error-msg"></p>
    </div>
    <div class="form-group">
        <label class="label label-primary">Vorname *</label>
        @Html.TextBoxFor(m => m.Firstname, new { @class = "form-control mandatory" })
        <p class="error-msg"></p>
    </div>
    <div class="form-group">
        <label class="label label-primary">Email *</label>
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control mandatory email" })
        <p class="error-msg"></p>
    </div>
    <div class="form-group">
        <label class="label label-primary">Ihre Nachricht *</label>
        @Html.TextAreaFor(m => m.Message, new { @class = "form-control mandatory" })
        <p class="error-msg"></p>
    </div>

    <div class="form-group">

        @Html.Captcha(captcha)
        @Html.TextBox("CaptchaCode")
    </div>
    <div class="form-group fusp">
        @Html.Label("Website", new { @class = "label label-primary" })
        @Html.TextBoxFor(m => m.FuSb, new { @class = "form-control" })
    </div>
    <div class="form-group right">
        <button id="submitButton" type="submit" style="text-align: right">
            Senden
        </button>
    </div>

}

